params {
    //  Modules
    initModules = "modules:modules-init:modules-gs"
    smrttoolsModule = "smrttools/11.0.0"
    samtoolsModule = "samtools/1.14"
    picardModule = "picard/2.25.5"
    pythonModule = "python/3.7.7"
    nanoPlotModule = "nanoplot/1.41.0"
    htslibModule = "htslib/1.9-20"
    verifyBamIdModule =  "VerifyBamID/2.0.1"
    

    // Genome
    referenceGenome = "/net/nwgc/vol1/references/human/grc38/genome/pacbio/human_GRCh38_no_alt_analysis_set.fasta"

    // Grid Engine
    clusterProject = "dna"
    defaultClusterOptions = "-S /bin/bash -P $params.clusterProject -m as -r yes -R yes"
    
    // map_hifi_bams
    mapHiFiBams_numCPUs =  5
    mapHiFiBams_memory = "2G"
    
    // merge_mapped_bams
    mergeMappedBams_memory = "10G"

    // add_nm_tags
    addNMTags_numCPUs =  5
    addNMTags_memory = "2G"

    // samtools_stats
    samtoolsStats_memory = "10G"

    // picard_quality_metrics
    picardQualityMetrics_memory = "10G"

    // picard_coverage_metrics
    picardCoverageMetrics_memory = "80G"

    // nano_plot
    nanoPlot_numCPUs =  8
    nanoPlot_memory = "2G"
    
    // contamaination_check
    contaminationCheck_memory = "10G"
    
}

// Executor
executor.name = 'sge'
executor.jobName = { "${task.label[0]}" + "_" + "${task.index}" }

// Needed because github switched the default branch name to "main" from "master" and there is a hardcoded bug in nextflow
manifest.defaultBranch = 'main'
