// Needed because github switched the default branch name to "main" from "master" and there is a hardcoded bug in nextflow
manifest.defaultBranch = 'main'

// Default all process(es) to use the parallel environment 'serial'
process.penv = "serial"

// Default pipeline mode (change to 'test' in yaml file if doing a test mode run)
params.mode = 'production'

profiles {

	
	instanceSizeLow {
		process {
			withName: 'MAP_HIFI_BAMS' {
				memory = "2G"
				cpus = 1
			}

			withName: 'MERGE_MAPPED_BAMS' {
				memory = "2G"
				cpus = 1
			}

			withName: 'ADD_NM_TAGS' {
				memory = "2G"
				cpus = 1
			}
			
			withName: 'SAMTOOLS_STATS' {
				memory = "2G"
				cpus = 1
			}
			
			withName: 'PICARD_QUALITY_METRICS' {
				memory = "2G"
			}
			
			withName: 'PICARD_COVERAGE_METRICS' {
				memory = "2G"
			}
			
			withName: 'NANO_PLOT' {
				memory = "2G"
				cpus = 1
			}
			
			withName: 'CONTAMINATION_CHECK' {
				memory = "2G"
			}
			
			withName: 'CREATE_FINGEPRINT_VCF' {
				memory = "2G"
			}
		}
	}

	instanceSizeHigh {
		process {
			withName: 'MAP_HIFI_BAMS' {
				memory = "2G"
				cpus = 10
			}

			withName: 'MERGE_MAPPED_BAMS' {
				memory = "1G"
				cpus = 20
			}

			withName: 'ADD_NM_TAGS' {
				memory = "2G"
				cpus = 10
			}
			
			withName: 'SAMTOOLS_STATS' {
				memory = "2G"
				cpus = 10
			}
			
			withName: 'PICARD_QUALITY_METRICS' {
				memory = "10G"
			}
			
			withName: 'PICARD_COVERAGE_METRICS' {
				memory = "25G"
			}
			
			withName: 'NANO_PLOT' {
				memory = "2G"
				cpus = 10
			}
			
			withName: 'CONTAMINATION_CHECK' {
				memory = "10G"
			}
			
			withName: 'CREATE_FINGEPRINT_VCF' {
				memory = "10G"
			}
		}
	}

	executorLocal {
		// Executor
		executor.name = 'local'
	}

	executorGridEngine {
		// Executor
		executor.name = 'sge'
		executor.jobName = { "${task.label[0]}" + "_" + "${task.index}" }

		// Grid Engine
		clusterProject = "dna"
		defaultClusterOptions = "-S /bin/bash -P $clusterProject -m as -r yes -R yes";

		process {
			// Default cluster options with 1 hour run time for all processes
			clusterOptions = "$defaultClusterOptions -l d_rt=0:1:0"

			// Processes that have a different projected run time than the default
			withName: 'MAP_HIFI_BAMS' {
				clusterOptions = "$defaultClusterOptions -l d_rt=0:2:0"
			}
			
			withName: 'PICARD_COVERAGE_METRICS' {
				clusterOptions = "$defaultClusterOptions -l d_rt=0:3:0"
			}			
		}
	}

	environmentModule {

		//  Modules
		initModules = "modules:modules-init:modules-gs"
		smrttoolsModule = params.sequencerType == 'Revio' ? 'smrttools/12.0.0' : 'smrttools/11.0.0'
		samtoolsModule = "samtools/1.14"
		picardModule = "picard/3.0.0"
		pythonModule = "python/3.7.7"
		nanoPlotModule = "nanoplot/1.41.0"
		htslibModule = "htslib/1.16.2"
		verifyBamIdModule =  "VerifyBamID/2.0.1"
		bcftoolsModule = "bcftools/1.17"
		tabixModule = "tabix/0.2.6"

		process {
			withName: 'MAP_HIFI_BAMS' {
				module = "${initModules}:${smrttoolsModule}"
			}

			withName: 'MERGE_MAPPED_BAMS' {
				module = "${initModules}:${samtoolsModule}"
			}

			withName: 'ADD_NM_TAGS' {
				module = "${initModules}:${samtoolsModule}"
			}
			
			withName: 'SAMTOOLS_STATS' {
				module = "${initModules}:${samtoolsModule}"
			}
			
			withName: 'PICARD_QUALITY_METRICS' {
				module = "${initModules}:${picardModule}"
			}
			
			withName: 'PICARD_COVERAGE_METRICS' {
				module = "${initModules}:${picardModule}"
			}
			
			withName: 'NANO_PLOT' {
				module = "${initModules}:${pythonModule}:${nanoPlotModule}"
			}
			
			withName: 'CONTAMINATION_CHECK' {
				module = "${initModules}:${samtoolsModule}:${htslibModule}:${verifyBamIdModule}"
			}
			
			withName: 'CREATE_FINGEPRINT_VCF' {
				module = "${initModules}:${htslibModule}:${bcftoolsModule}:${tabixModule}"
			}
		}
	}

	environmentContainer {
		process {
			withName: 'MAP_HIFI_BAMS' {
				container = "someContainerPath"
			}
		}
	}
}





